:root,
[data-md-color-scheme="default"],
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #e079e0;
  --md-primary-fg-color--light: #f2a3f2;
  --md-primary-fg-color--dark: #b85bb8;
  --md-accent-fg-color: #dda0dd;
  --md-accent-fg-color--transparent: #dda0dd1a;

  --md-typeset-a-color: #e079e0;
}

.md-nav__link--active,
.md-nav__link:is(:focus, :hover) {
  color: #e079e0 !important;
}

.md-nav__link--active {
  color: #e079e0 !important;
}